body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.posts {
  padding-left: 0;
}

.posts li {
  list-style-type: none;
}

.posts a {
  color: white;
  margin-bottom: 10px;
  padding-right: 20px;
}

h1 {
  color: white;
}

.categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.categories li {
  float: left;
}

.categories li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 20px;
  min-width: 1070px;
  background-color: #9DC8C8;

}

span{
  color: white;
}

.post-input {
  width: 50%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #bdbdbd;
  outline: none;
  vertical-align:middle;
  margin-top: 10px;
}

.post-select {
  width: 53%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #bdbdbd;
  outline: none;
  vertical-align:middle;
  margin-top: 10px;
}

.post-select-small {
  width: 10%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #bdbdbd;
  outline: none;
  vertical-align:middle;
  margin-top: 10px;
}

.add {
  display: table-cell;
}


.buttonSubmit {
    width: 53%;
    padding: 10px;
    background: #FFF;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    height: 40px;
    font-size: 90%;
}

.edit {
  color: #00f;
  text-decoration-color: red;
  font-style: italic;

}
